body {
  background-image: url('../asserts/bg2.jpg');
    text-align: center;    
          margin: 0 auto; 
          background-position:center; 
          background-size: contain 
     
    
  }
  
  
  .head1 {
    
          font-size:40px; 
          color:blue; 
          font-weight:bold
     }
  input[type=email], input[type=password] {
    width: 60%;
    padding: 2px;
    margin: 10px
      
    }
	
    .register{
  
      padding: 16px;
      width: 25%;
      height: 80%;
      background-color:lightgray;
      position: absolute;
      left: 35%
      }

.login{
  background-image: url('../asserts/login.jpg');
    padding: 16px;
    width: 25%;
    height: 60%;
    background-color:rgb(189, 207, 214);
    position: absolute;
    left: 35%
    
    }
   .forget{
  
      padding: 16px;
      width: 25%;
      height: 50%;
      background-color:skyblue;
      position: absolute;
      left: 35%
      
      }
      .createNew{
  
        padding: 16px;
        width: 25%;
        height: 50%;
        background-color:lightskyblue;
        position: absolute;
        left: 35%
      
        }

        .signup{
          width: 40%;
          height: 50%;
          background-color:rgb(18, 168, 18);
        }
        
		
        .send{
          width: 40%;
          height: 50%;
          background-color:green;
        }

       
      

      .logout{
  position: absolute;
  top: 0%;
  left: 87%;
  height: 15;
  width: 9%;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: green;
  border-radius: 30px

}
      
              
 .column1 {
	background-color:lightcyan;
height: 400px;
    width: 250px;
    position: absolute;
    top: 20%;
    overflow:scroll;
    padding-top: 30px;
  
    padding :10px 15px 20px 30px;

}


.column2{
  background-image: url('../asserts/messagess.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 810px;
  position: absolute;
  left: 30%;
  top: 20%;
  overflow: auto;
  background-color:grey;
  padding :10px 15px 10px 10px;
  border-radius: 30px;
}


.buttn {
  height: 50px;
  width: 200px;
  }


  .button {
    height: 30px;
    width: 300px;
    background-color:green;
    text-decoration-color: black
    }

.textMessage{
  position: absolute;
  left: 30%;
  top: 73%;
  width: 60%;
  padding: 12px 15px;
  margin: 8px 0;

}  
  
  
   .sendMessage{
  position: absolute;
  font-size: 20px;
  color:black;
  right: 25%;
  top: 73%;
 padding: 10px 5px;
 background-color:green
}

.sendText{
  position: fixed;
  right: 10%;
  color:black
}

.receiveText{
  position: fixed;
  left: 30%;
  color:black
}