

<!DOCTYPE html>
<body>
<head>
  <link rel="stylesheet" href="../css/register.css">
</head>
<body>
  <form> 
   <div class=createNew >
        <h1>Create New Password</h1>

<div>
        <label><b>Reset Password</b></label><br>
        <input type="text" placeholder="Reset Password"><br><br>
        </div>

        <div>
        <label><b>Conform Password</b></label><br>
        <input type="text"  placeholder="Conform Password"><br><br>
        </div> 

        <div>
        <button type="submit">Done</button>&nbsp;&nbsp;
        <button type="submit">Cancel</button>
        </div> 
    </div>
</form>
 <body>