


  <form> 
   <div class=createNew>
        <h1>Create New Password</h1>

<div>
        <label><b>Reset Password</b></label><br>
        <input type="text" placeholder="Reset Password" ng-model="Password"><br><br>
        </div>

        <div>
        <label><b>Conform Password</b></label><br>
        <input type="text"  placeholder="Conform Password" ng-model="Password"><br><br>
        </div> 

        <div>
        <button type="submit" ng-click='newpassword()'>Done</button>&nbsp;&nbsp;
        <button type="submit" ng-click='newpassword()'>Cancel</button>
        </div> 
    </div>
</form>
