
 
            
             <div class="head1">welcome to the chat App</div> 
             <h1>user: {{loginName}}</h1>
                 <div class="logout"> 
                 <button ng-click="logout()" ui-sref="login" >LOGOUT</button>
                 </div> 
            
  
                 <div class="column1" >

               <h2>ALL USERS LIST</h2>
              
               <div  ng-repeat="x in getUserData">   
                <ul><button class="buttn" ng-click="getMessage(x)" ng-show="loginUser!=x._id">{{x.firstName}} </button></ul>  
              </div>
             </div>
             
     
                <div class="column2">
                <h2>COMMUNICATIONS</h2>
 
                 <h3 class="name">{{receiverName}}</h3><br>
                   <div  ng-repeat="x in allMessage">

                          <label class="sendText" ng-if="loginId == x.senderId && receiverId == x.recieverId"><b></b>{{x.message}}</label>
                         <label class="receiveText" ng-if="receiverId == x.senderId && loginId == x.recieverId"><b></b>{{x.message}}</label>
                         <br><br> <br><br>
                            
            
                   </div>
                </div>
     
 
     
                <div class="textMessage">
                 <input type="text" placeholder="Enter text here" ng-model="message">
              </div>  
 
            <div>
             <span><button class="sendMessage"  ng-click="sendMessage()">send</button></span>
          </div>