
      
    <!-- Header Section -->
    <header> 
            <div class="head1">welcome to the chat App</div> 
        </header> 
          
        <!-- Menu Navigation Bar -->
         
               <div class="menu"> 
                <a href="#logout ">LOGOUT</a>
                </div> 
           
          
                <div class="column1" >
              <h2>ALL USERS LIST</h2>
              <div  ng-repeat="x in getUserData">   
               <ul><button ng-click="getMessage(x)" class="buttn">{{x.firstName}} </button></ul>  
             </div>
            </div>
            
    
               <div class="column2">
               <h2>COMMUNICATIONS</h2>
                  <div  ng-repeat="x in allMessage">
                         <button class="sendText" ng-if="senderId == x.loginId && receiverId == x.recieverId"><b></b>{{x.message}}</span>
                        <button class="receiveText" ng-if="receiverId == x.loginId && senderId == x.recieverId"><b></b>{{x.message}}</span>   
                        <br><br>   
                           
                  </div>
               </div>
    
    
               <div class="textMessage">
                <input type="text" placeholder="Enter text here" ng-model="message">
                <input type="button" class="send" >send</input>
             </div>  
    
           
             
               
    
    
    
    
    
    
    
    