<!DOCTYPE html>
<body>
<head>
  <link rel="stylesheet" href="../css/register.css">
</head>
<body>

    <div class="login" >
  <form> 
      <h1>LOGIN </h1>
      <div>
      <label><b>E-mail-id</b></label>
      <input type="email"  placeholder="E-mail"><br><br>
      </div>

      <div>
       <label><b>Password</b></label>
      <input type="password"  placeholder="Password"><br><br>
      </div>
     <div>
  <button type="submit" class=signup>SIGNUP</button>&nbsp;&nbsp;  
  <a href="forget.html">Forget password</a>
</div>
  </div>
 </form>
  <body>