<form>
  <div class=register>
    <h1>register</h1>
    <div>
      <label><b>FirstName</b></label><br>
      <input type="text" placeholder="FirstName" ng-model="firstName"><br><br>
    </div>

    <div>
      <label><b>LastName</b></label><br>
      <input type="text" placeholder="LastName" ng-model="lastName"><br><br>
    </div>


    <div>
      <label><b>E-mail-id</b></label><br>
      <input type="text" placeholder="E-mail"  ng-model="email" ng-keyup="emailValidation(email)"><br><br>
      <span ng-show ="emailVal" style="color: red">should be in email format</span>
    </div>

    <div>
      <label><b>Password</b></label><br>
      <input type="password" placeholder="Password" ng-model="password"><br><br>
    </div>

    <div>
      <button type="button" ng-click="registration()" class="button">Register</button><br>
      <button type="submit" ui-sref='login()' class="button">Login</button>

    </div>

  </div>
</form>