.fundooApp {
    text-align: center;
    font-size: 150%
  }
  .signIn{
      font-size: 40%
      
  }
  .fstyle{
color:#264691
  }
  .ustyle{
    color:#e53024
  }
  .nstyle{
    color:#f1ac03
  }

  .dstyle{
    color:#3e9940
  }

  .ostyle{
    color:#e53024
  }

  .Ostyle{
    color:#264691
}

  .Astyle{
    color:#e53024
  }

  .pstyle{
    color:#3e9940
  }
  .Pstyle{
    color:#f1ac03
}

.textInput{
    text-align: center;
}

.loginButton{
text-align: center;
position: absolute;
  right: 535px;
  top: 370px;
}

.forgetlink{
font-size: 60%;
 position: absolute;
 right: 675px;
 top: 370px;
 
}

.createAccount{
    font-size: 60%;
    position: absolute;
    right: 600px;
    top: 420px;
}